body {
    max-width:650px;
    margin:40px auto;
    padding:0 10px;
    font:18px/1.5 Arial;
    color:#444
    }
h1,
h2,
h3 {
    line-height:1.2
    }
img {
    display: block;
    margin-right: 30PX;
    border: 1px solid rgb(0, 0, 0);
    width: 200px;
    }
@media (prefers-color-scheme: dark) {
    body {
        color:white;
        background:#444
    }
    a:link {
        color:#5bf
    }
    a:visited {
        color:#ccf
    }
}