extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container
                h1 Base de dados de filmes americanos
            .w3-container
                ul.w3-ul
                    li
                        a(class='w3-button' href='/filmes/novoFilme') Adicionar um Filme
            .w3-container
                ul.w3-ul
                    each f in lista
                            li  
                                a(href= 'filmes/' + f.id)= f.title               
                footer.w3-container.w3-teal